<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover">
	<meta name="format-detection" content="telephone=no">
	<title>build to {{title}}</title>
{% if lang != "ja" %}
	<link rel="stylesheet" href="ui_test.min.css">
{% else %}
	<link rel="stylesheet" href="ui_test_ja.min.css">
{% endif %}
</head>
<body>
<div class="wrap {{title}}">
	{% include "_import/header.njk" %}
{% if lang != "ja" %}
	<img src="img/{{lang}}.jpg" alt="">
	{{title}}{{title}}<br>aaaaaaaaaㅠsaa
	{{title}}ㅁㅁs
	plaaaaaa
	{# 컴포넌트 사용하기 1 #}
	{% import "_components/UIText.njk" as C %}
	{{ C.txt("p 태그 텍스트 입니다.", "p") }}
	{{ C.txt("span 태그 텍스트 입니다.", "span") }}
	{{ C.txt("디폴트 p 태그 텍스트 입니다") }}

	{# 컴포넌트 사용하기 2 #}
	{% import "_components/UIButton.njk" as C %}
	{{ C.UIButton("버튼 텍스트 입니다") }}
	<!-- 주석 -->
	{{desc}}
	<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consequuntur!</p>
	<p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, consequuntur!</p>
	{{desc}}
	<img src="img/img_1.svg" alt="">
	<p class="only_ko">ko ko ko Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, accusamus.</p>
	<!-- ja 주석 -->
	{{title}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aliquam!
	<p>{{desc}}</p>
	<p>{{lang}}</p>
{% endif %}
	{% include "_import/footer.njk" %}
</div>
<script src="js/calc.js"></script>
<script src="ui_test.min.js"></script>
</body>
</html>